<h3>ログイン</h3>

<div class="form-session">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
</div>

  <div class="field-session">
    <%= f.label :"ユーザーネーム" %><br />
    <%= f.text_field :name, autocomplete: "name", class: 'form-control' %>
  </div>

  <div class="field-session">
    <%= f.label :"パスワード" %><br />
    <%= f.password_field :password, autocomplete: "password" , class: 'form-control' %>
  </div>

  <div class="actions-session">
    <%= f.submit "ログイン", class:"btn btn-success"%>
   <p><%= link_to "パスワードをお忘れの方はこちら",  new_user_password_path, class:"text-muted"%></p>
   <p><%= link_to 'ゲストログイン',  users_guest_sign_in_path, method: :post, class:"btn btn-orange" %></p>
</div>
<% end %>