<%#= request_path = request.path_info %>
<%= form_with model: post_image, url: post_image.new_record? ? user_post_images_path : user_post_image_path(post_image), id: 'post-image-form', html: { class: 'form-wrapper' } do |f| %>
<%= render 'users/shared/error_messages', resource: f.object %>


<div class="field">
  <%= f.label :"画像"%>
  <div id="new-image"></div>
  <%= f.file_field :images, multiple: true, accept: "images/*", data: {"turbolinks" => false}%>
</div>


<div class="field">
  <%= f.label :"カテゴリー" %>
  <%= f.select :category_id, Category.all.collect {|c| [c.name, c.id, { 'data-subcategories': c.sub_categories.pluck(:id).join(',') }]}, { prompt: "選択してください" }, { class: "form-control", id: "category-select" } %>
</div>

<div class="field">
  <%= f.label :"サブカテゴリー" %>
  <%= f.select :sub_category_id, options_for_select(SubCategory.all.map {|s| [s.name, s.id, { 'data-category-id': s.category_id }]},selected: post_image.sub_category_id), { prompt: "選択してください" }, { class: "form-control"}%>
</div>

<div class="field">
  <%=f.label :"タイトル"%>
  <%= f.text_field :title, class: "form-control" %>
</div>

<div class="field">
  <%=f.label :"本文"%>
  <%= f.text_area :text, class: "form-control" %>
</div>

<div class="field">
  <%= f.label :tag_list, "タグ" %>
  <%= f.text_field :tag_list, value: @post_image.tag_list.join(','), placeholder: ",で区切ってタグ名を入力してください", class: "form-control" %>
</div>

<div class="actions">
  <% if @post_image.new_record? %>
    <%= f.submit "投稿する",class:"btn btn-primary" %>
  <% else %>
    <%= f.submit "保存する",class:"btn btn-primary" %>
  <% end %>
</div>
<% end %>
