<%= form_with model: @post_image, url: user_post_images_path do |f| %>
 <h2 class= "container" >
   <i class="fa-regular fa-image">新規投稿</i>
 </h2>
 
<div class= "flex">
  <table class="user_post_images_info post_form">
			<thead>
				<tr>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><%=f.label :"タイトル"%></td><br>
          <td><%= f.text_field :title %></td>
        </tr>
        <tr>
          <td><i class="fa-regular fa-image"></i><%=f.label :"画像"%></td>
          <td><%= f.file_field :image %></td>
        </tr>
        <tr>
          <td><%=f.label :"本文"%></td><br>
          <td><%= f.text_field :text %></td>
        </tr>
        <tr>
          <td><i class="fa-solid fa-location-dot"></i><%=f.label :"位置情報"%></td><br>
          <td class= "text-muted">
            <%= f.text_field :lat,:value =>"lat", id: :lat %>
            <%= f.text_field :lng,:value =>"lng", id: :lng %>
          </td>
        </tr>
        <tr>
          <td><%=f.label :"タグ"%></td><br>
          <td><%= f.text_field :tag %></td>
        </tr>
        <tr>
      <div class="actions">
     <td><%= f.submit "投稿",class:"btn btn-primary" %></td>
  </div>
  <% end %>
  </tr>
  </tbody>
  </table>
</div>
