<%= javascript_pack_tag 'prevImage', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag 'preview', 'data-turbolinks-track': 'reload' %>

<div class="container post-image-show">
	<div class="row post-image-show-row">

  <% if user_signed_in? %>  <!--未ログインでは投稿の操作は不可能にする-->
  <% if @post_image.user_id == current_user.id %> <!--ログインユーザーは自分の投稿以外は削除できないようにする-->
<section class="inner">
	<% if flash[:error] %>
		<div id="error_explanation">
			<p><%= flash[:error] %></p>
		</div>
	<% end %>
	<% end %>
	<% end %>
</section>

<div class="user-info">
  <div class= "user-image">
    <%= link_to user_user_path(@user) do%>
     <%= image_tag current_user.image.variant(resize_to_limit: [100,100]) , class: "rounded-circle" %>
     <% end %>
     <div class= "user-name">
     <%= @post_image.user.name %>
     </div>
  </div>

<ul class="tag">
  <% @post_image.tags.each do |tag| %>
    <li class="tag-name" style= "list-style: none;">
      <%= "#" + tag.name + " " %>
    </li>
  <% end %>
</ul>
</div>

<div class="col-9">
  <div class="post-title-show">
  <p><%= @post_image.title%></p>
  <% if @post_image.user_id == current_user.id %>
  <li class="post-edit-show" style= "list-style: none;">
  <%= link_to edit_user_post_image_path(@post_image) do %>
  <i class="fa-solid fa-pen-to-square" style= "color: black;"></i>
  <% end %>
  <% end %>
  </li>
</div>

<div class="flex">
  <li id="btnPrev" class="prev-btn" style= "list-style: none;">
    <button class="c-button-trigger button" type="button">
      <span class="c-icon--line-arrow-left" aria-hidden="true">&lt;</span>
    </button>
  </li>
  <% if @post_image.images.attached? %>
    <% @post_image.images.each do |image| %>
      <%= image_tag image.variant(resize_to_limit: [400, 400]) %>
    <% end %>
  <% end %>
  <li id="btnNext" class="next-btn" style= "list-style: none;">
    <button class="c-button-trigger button" type="button">
      <span class="c-icon--line-arrow-right" aria-hidden="true">&gt;</span>
    </button>
  </li>
</div>

<div class="post-text-show">
  <p><%= @post_image.text%></p>
</div>

<div class="post-date">
  <p><%= @post_image.created_at.strftime('%Y/%m/%d') %></p>
</div>

<div class="comments">
  <% @post_image.comments.each do |comment| %>
    <div class="comment">
      <p><%= comment.user.name %></p>
      <p><%= comment.content %></p>
      <% if comment.user_id == current_user.id %>
        <%= link_to user_post_image_comment_path(@post_image, comment), method: :delete, data: { confirm: "このコメントを削除してもよろしいですか？" } do %>
        <i class="fa-sharp fa-regular fa-trash-can" style="color: black;"></i> <!-- テキストの前にスペースを挿入 -->
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>

<div class="post-comment">
  <%= form_with(model: [ @post_image, @comment ], url: user_post_image_comments_path(@post_image),local: true) do |f| %>
    <%= f.text_area :content %>
  <%= f.submit "コメントする", class: "btn btn-primary"%>
  <% end %>
</div>
</div>
</div>
</div>