<%= javascript_pack_tag 'preview', 'data-turbolinks-track': 'reload' %>
<div class="l-contents">
    <div class="p-article-header js-portrait-floating-sticky-target">
    	 <div class="p-article-header__container">
        <div class="p-article-header__thumb">
        	<p>タグ</p>
        </div>
       </div>
     </div>
<section class="inner">
	<% if flash[:error] %>
		<div id="error_explanation">
			<p><%= flash[:error] %></p>
		</div>
	<% end %>
	<div class="content">
		<div class="flex">
			<% if @user.image.attached? %>
    	<% @user.image.each do |img| %>
      <%= image_tag img.variant(resize_to_limit: [100, 100]) %>
    <% end %>
  	<% end %>
    </div>

		<div class="flex">
			<%= image_tag @post_image.user.get_image(50,50) %>
			<p><%= @post_image.user.name %></p>
		</div>

		<div class="flex">
		  <p><%= @post_image.title%></p>
		</div>

		<div class="flex">
		  <p><%= @post_image.text%></p>
		</div>

		<div class="flex">
		  <p><%= @post_image.created_at.strftime('%Y/%m/%d') %></p>
		</div>
	</div>
	</section>
</div>
