
<div class="container post-image-show">
  <div class="row post-image-show-row">
    <% if user_signed_in? %>  <!--未ログインでは投稿の操作は不可能にする-->
    <% if @post_image.user_id == current_user.id %> <!--ログインユーザーは自分の投稿以外は削除できないようにする-->
  <section class="inner">
	  <% if flash[:error] %>
	<div id="error_explanation">
	  <p><%= flash[:error] %></p>
	</div>
	  <% end %>
	  <% end %>
	  <% end %>
  </section>

  <div class="row">
    <div class="col-6">
      <div class="flex">
        <div class="post-title-show">
          <p><%= @post_image.title %></p>
        </div>
      <div id="btnPrev" class="prev-btn">
    <button class="c-button-trigger button" type="button">
    <span class="c-icon--line-arrow-left" aria-hidden="true">&lt;</span>
    </button>
      </div>
      <div class="image-container">
          <% if @post_image.images.attached? %>
            <% @post_image.images.each do |image| %>
              <div class="image-wrapper">
                <%= image_tag image.variant(resize_to_limit: [800, 600]) %>
              <div class="icon-wrapper">
            <span class="left-icon c-icon--line-arrow-left" aria-hidden="true"></span>
            <span class="right-icon c-icon--line-arrow-right" aria-hidden="true"></span>
              </div>
              </div>
            <% end %>
        <% end %>
      </div>
      <div class="post-category">
  <% if @post_image.category.present? %>
    <p>カテゴリー：<%= @post_image.category.name %></p>
  <% end %>
  <% if @post_image.sub_category.present? %>
    <p>サブカテゴリー：<%= @post_image.sub_category.name %></p>
  <% end %>
</div>
    <div id="btnNext" class="next-btn">
      <button class="c-button-trigger button" type="button">
      <span class="c-icon--line-arrow-right" aria-hidden="true">&gt;</span>
      </button>
    </div>
  </div>
</div>
<div class="col-6">
  <div class="post-info-container">
    <div class="user-info-container">
      <div class="user-info">
        <div class="user-image">
          <% if @user.image.attached? %>
            <%= link_to user_user_path(@user) do%>
            <%= image_tag @user.image.variant(resize_to_limit: [100,100]).processed, class: "rounded-circle" %>
        <% end %>
        <% else %>
            <%= image_tag "no_image.jpg", class: "rounded-circle" %>
        <% end %>
        <div class="user-name">
          <%= @post_image.user.name %>
        </div>
      <div class="post-edit-show">
        <% if @post_image.user_id == current_user.id %>
        <%= link_to edit_user_post_image_path(@post_image) do %>
        <i class="fa-solid fa-pen-to-square" style="color: black;"></i>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="post-text-show">
  <p><%= @post_image.text %></p>
</div>
  <ul class="tag" style="margin-top: 10px;">
    <% @post_image.tags.each do |tag| %>
    <li class="tag-name" style="list-style: none;">
    <%= link_to "#" + tag.name, user_post_images_path(tag: tag.name) %>
    </li>
    <% end %>
  </ul>
<div class="post-date">
  <p><%= @post_image.created_at.strftime('%Y/%m/%d') %></p>
</div>

<div class="post-likes">
  <% if @post_image.likes.exists?(user_id: current_user.id) %>
  <%= form_with(model: [@post_image.likes.find_by(user_id: current_user.id)], url: user_post_image_like_path(@post_image, @post_image.likes.find_by(user_id: current_user.id)), method: :delete, local: true) do |f| %>
    <div class="like-icon-wrapper">
        <%= f.button type: :submit, class: "icon-button like-btn" do %>
        <i class="fa-solid fa-heart"></i>
        <% end %>
      <span class="like-count"><%= @post_image.likes.count %>いいね</span>
    </div>
        <% end %>
        <% else %>
      <%= form_with(model: [@post_image, @post_image.likes.build], url: user_post_image_likes_path(@post_image), local: true) do |f| %>
        <div class="like-icon-wrapper">
          <%= f.button type: :submit, class: "icon-button", style: "border: none;" do %>
          <i class="fa-solid fa-heart"></i>
          <% end %>
        <span class="like-count"><%= @post_image.likes.count %>いいね</span>
      </div>
    <% end %>
  <% end %>
</div>

<div class="comments">
  <% @post_image.comments.each do |comment| %>
    <div class="comment">
      <p><%= comment.user.name %></p>
      <p><%= comment.content %></p>
      <% if comment.user_id == current_user.id %>
        <%= link_to user_post_image_comment_path(@post_image, comment), method: :delete, data: { confirm: "このコメントを削除してもよろしいですか？" } do %>
        <i class="fa-sharp fa-regular fa-trash-can" style="color: black;"></i> <!-- テキストの前にスペースを挿入 -->
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>

<div class="post-comment">
  <%= form_with(model: [ @post_image, @comment ], url: user_post_image_comments_path(@post_image),local: true) do |f| %>
    <%= f.text_area :content %>
  <div class="comment-icon-wrapper">
  <%= f.button type: :submit, class: "icon-button", style: "border: none;" do %>
  <i class="fa-solid fa-paper-plane"></i>
  <% end %>
  <% end %>
</div>
</div>
</div>
</div>
</div>
</div>
<%= javascript_pack_tag 'prevImage', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag 'preview', 'data-turbolinks-track': 'reload' %>