<%= form_with(model: [:admin, @category], local: true, url: admin_categories_path) do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div id="sub_categories">
    <%= form.fields_for :sub_categories do |sub_category| %>
      <%= render 'sub_category_fields', f: sub_category %>
    <% end %>
    <div class="links">
      <%= link_to_add_association 'Add Sub Category', form, :sub_categories, class: "btn btn-primary" %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>
