<table>
  <thead>
    <tr>
      <th>カテゴリー名</th>
      <th>サブカテゴリー数</th>
      <th>サブカテゴリー名</th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td>
          <%= link_to edit_admin_category_path(category) do %>
          <%= category.name %>
          <% end %>
        </td>
        <td><%= category.sub_categories.count %></td>
        <td>
          <% category.sub_categories.each do |sub_category| %>
          <%= link_to edit_admin_category_path(category) do %>
          <%= sub_category.name %>
        <% end %>
        <% end %>
      </td>
    </tr>
  <% end %>
</tbody>
</table>

<%= link_to "カテゴリー登録", new_admin_category_path %>