<%= javascript_pack_tag 'preview', 'data-turbolinks-track': 'reload' %>
<div class="registration-form">
  <h3>新規登録</h3>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "users/shared/error_messages", resource: resource %>


<div class="form-group">
  <i class="fa-regular fa-image">
  <%= f.label :image, "プロフィール画像", for: "file-input"%>
  </i>
<div class="push-container">
  <img id="preview" src="#" alt="Image Preview" style="display:none;">
  <div class="preview-image">
    <%= f.file_field :image, class: "push", onchange: "previewImage(this);" %>
  </div>
</div>
</div>


    <div class="form-group">
      <%= f.label :"ユーザーネーム" %><br />
      <%= f.text_field :name, autofocus: true, autocomplete: "name", class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :"メールアドレス" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
    </div>
    <div class="form-group password-fields">
    <div>
      <%= f.label :"パスワード" %>
      <%= f.password_field :password, autocomplete: "new-password", class: 'form-control', placeholder: "英数字を含めた6~30文字以上を入力してください。" %>
    </div>
    <div class="form-group confirmation-fields">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "確認のため、もう一度入力してください", class: 'form-control' %>
    </div>
  </div>
    <div class="actions">
      <%= f.submit "新規登録を行う",class:"btn btn-primary" %>
    </div>
  <% end %>
  <%= render "loadimage" %>
</div>
